VITE_APP_DEV_URL=''
VITE_APP_DEV_THEME_URL= ''
VITE_APP_DEV_SESSION_VAR=''
VITE_APP_DEV_SESSION_ID=''
VITE_APP_DEV_USER_ID=
VITE_APP_DEV_WALL_ID=
VITE_APP_DEV_TEXT_TABS=
VITE_APP_DEV_TEXT_ERROR=
VITE_APP_DEV_TEXT_LIKE=
VITE_APP_DEV_TEXT=
VITE_APP_DEV_OWNER_SETTINGS=''
VITE_APP_DEV_IS_CURRENT_USER_OWNER=
VITE_APP_DEV_USE_MOOD=
