parameters:
  level: 5
  bootstrap: tests/bootstrap.php
  paths:
    - Sources/Breeze
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - '/Function prepareDBSettingContext not found./'
    - '/Function loadGeneralSettingParameters not found./'
    - '/Function checkSession not found./'
    - '/Function saveDBSettings not found./'
    - '/Function fatal_lang_error not found./'
    - '/Function redirectexit not found./'
    - '/Function loadCSSFile not found./'
    - '/Function is_not_guest not found./'
    - '/Function cache_put_data not found./'
    - '/Function cache_get_data not found./'
    - '/Function loadtemplate not found./'
    - '/Function createList not found./'
    - '/Function loadMemberContext not found./'
    - '/Function loadMemberData not found./'
  autoload_files:
    - %currentWorkingDirectory%/breezeVendor/autoload.php