<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  colors="true"
  bootstrap="tests/bootstrap.php"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  testdox="false"
  displayDetailsOnAllIssues="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
  failOnNotice="true">
  <testsuites>
    <testsuite name="Breeze">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./Sources</directory>
    </include>
  </source>
  <php>
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
    <ini name="error_reporting" value="-1" />
  </php>
</phpunit>
