<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  colors="true"
  bootstrap="tests/bootstrap.php"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Breeze">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <coverage cacheDirectory=".phpunit.cache/code-coverage"
            processUncoveredFiles="true">
    <include>
      <directory suffix=".php">Sources</directory>
    </include>
  </coverage>
  <logging>
    <log type="coverage-html" target="./log/report" lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="./log/coverage.xml"/>
    <log type="coverage-php" target="./log/coverage.serialized"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    <log type="testdox-html" target="./log/testdox.html"/>
  </logging>
</phpunit>
