
/* The admin news box */
.breeze_rss_box
{
float:left;
width:60%;
}
.breeze_admin_info
{
float:right;
width:35%;
height: 13.5em;
}

/* The messages css */
.breeze_ok_message
{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(230, 239, 194);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto;
border: 2px solid #c6d880;
color: rgb(38, 68, 9);
margin: 1em;
padding: 0.8em;
}
.breeze_error_message
{
background-attachment: scroll;
background-clip: border-box;
background-color: #f7bcbf;
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto;
border: 2px solid #f7262e;
color: #8a1f11;
margin: 1em;
padding: 0.8em;
}

/* The user wall */
.breeze_user_left
{
float:left;
width:40%;

}

.breeze_user_left_avatar
{
float:left;
margin:2px;
padding-left:5px;
padding-right:15px;
min-height:100px;

}

.breeze_user_left_info
{

}

ul.breeze_user_left_info
{
list-style-type: none;
margin-left: 0px;
padding-left: 5px;
}
ul.breeze_user_left_info ul li
{
display: inline;
list-style-type: none;
}

.breeze_user_right
{
float:left;
width:55%;
margin:5px;
padding:5px;
}

.breeze_user_inner
{
margin:5px;
padding:5px;
}

.breeze_user_status_box
{

}
.breeze_status
{
	list-style-type: none;
}
.breeze_user_status_avatar
{
float:left;
margin:3px;
padding:3px;
}

.breeze_user_status_comment
{
margin-left:80px;
padding:3px;
width:85%;
}

.breeze_user_statusbox textarea
{
border: 1px solid #888;
}

/* Comments */
.breeze_comments_list
{
	list-style-type: none;
}
.breeze_user_comment_avatar
{
	float:left;
}
.breeze_user_comment_comment
{
	margin:3px;
	margin-left:75px;
	padding:3px;
	text-align:left;
}

/* Ajax message */
#breeze_load_image
{
	text-align:center;
	margin:auto;
	padding-bottom:5px;
}

/* Notifications */
#info_message
{
	display: none;
	width: 100%;
	height: 51px;
	position: absolute;
	top: 0;
	position: fixed;
	z-index: 50000;
	margin: 0;
	padding: 0;
}
.center_auto
{
	margin: 0 auto;
	width: 950px;
	padding: 15px 25px;
}
#info_message .message_area
{
	float: left;
	width: 98%;
}
#info_message .message_area span.link_ribbon{
color: #999999;
text-decoration: underline;
cursor: pointer;
}
#info_message .button_area{
float: left;
width: 11px;
height: 10px;
margin-top: 3px;
}
.error_bg{
background: url('../images/breeze/error_bg.png') 0 0 repeat-x;
}
.error_bg .message_area{
font:bold 14px arial;
color: #a20510;
text-shadow: 0 1px 0 #fff;
}
.error_bg .button_area{
background: url('../images/breeze/error_close.png') 0 0 no-repeat;
cursor: pointer;
}
.error_bg .info_more_descrption{

box-shadow: 0 0 5px #b2495b;
}
.succ_bg{
background: url('../images/breeze/succ_bg.png') 0 0 repeat-x;
}
.succ_bg .message_area{
font:bold 14px arial;
color: #2f7c00;
text-shadow: 0 1px 0 #fff;
}
.succ_bg .button_area{
background: url('../images/breeze/succ_close.png') 0 0 no-repeat;
cursor: pointer;
}
.info_bg{
background: url('../images/breeze/info_bg.png') 0 0 repeat-x;
}
.info_bg .message_area{
font:bold 14px arial;
color: #0d9a95;
text-shadow: 0 1px 0 #fff;
}
.info_bg .button_area{
background: url('../images/breeze/info_close.png') 0 0 no-repeat;
cursor: pointer;
}
.warn_bg{
background: url('../images/breeze/warn_bg.png') 0 0 repeat-x;
}
.warn_bg .message_area{
font:bold 14px arial;
color: #a39709;
text-shadow: 0 1px 0 #fff;
}
.warn_bg .button_area{
background: url('../images/breeze/warn_close.png') 0 0 no-repeat;
cursor: pointer;
}
.clearboth{
clear: both;
}
.info_more_descrption{
display: none;
width: 950px;
height: 300px;
background: #fff;
margin: 0 auto;
padding: 10px;
background: #fbfbfb;
overflow: auto;
}
.succ_bg .info_more_descrption{
box-shadow: 0 0 5px #56a25e;
}

/* Options */
.breeze_options
{
	padding: 10px 5px 10px 5px;
	text-align:right;
}

#breeze_pagination
{
margin:auto;
text-align: center;
}

.breeze_user_comment_avatar
{
	padding:5px;
}

/* Admin bits */
#breezelive
{
	width:95%;
	margin:auto;
}
#breezelive ul
 {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
 }
 #breezelive ul li
 {
	margin-left: 10px;
 }

ul.breeze_top_profile_views
{
	float:left;
	margin:5px;
}

.breeze_profile_views_name
{
	margin-bottom:5px !important;
}

.breeze_profile_views_block
{
	float:left;
	margin: 5px !important;
	border-radius:5px;
}
.breeze_profile_views_inner
{
	position:relative;
	text-align:center;
	width:170px;
	float:left;
}

#breezeTop {
	position: fixed;
	bottom: 30px;
	margin-left: -150px;
}

#breezeTop a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#breezeTop a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#breezeTop span {
	height: 10px;
	display: block;
	background: #ddd url(../images/sort_up.gif) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#breezeTop a:hover span {
	background-color: #777;
}
a.mytestbutton {
        padding: 3px;
        margin: 3px;
	min-height: 15px;
	min-width: 25px;
        border: 1px solid #F0F4F7;
        text-decoration: none;
	background-color: #E7EAEF;
        -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
a.mytestbutton:hover {
        background-color: #F0F2F6;
}
.idTabs {
        margin-top: 10px;
}