#breeze_main_section{
	min-height: 500px;
	overflow: auto;
}

#breeze_blocks{
	width: 30%;
}

#breeze_wall{
	width: 69%;
}

#breeze_avatar {

	background-image: url('');

	/* make a square container */
	width: 120px;
	height: 120px;

	/* fill the container, preserving aspect ratio, and cropping to fit */
	background-size: cover;

	/* center the image vertically and horizontally */
	background-position: top center;

	/* round the edges to a circle with border radius 1/2 container size */
	border-radius: 50%;
}